<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <nav>
    <ul>
    <li><a href="http://localhost/">Home</a></li>
    <li><a href="http://localhost/configuration">Configuration</a></li>
    </ul> 
  </nav>
  <section>
    <center>
    <div class="msgrectangle fail">
      <h1>Something went wrong.</h1>
      <a href="http://localhost/">Go home</a> or <a href="http://localhost/configuration">Come back configuration</a>
    </div>
    </center>
  </section>
</body>
</html>