<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <nav>
    <ul>
    <li><a href="http://localhost/">Home</a></li>
    <li><a href="http://localhost/configuration">Configuration</a></li>
    </ul> 
  </nav>
  <section>
    <center>
    <div class="login">
      <h1>Login</h1>
      <form method="post" action="http://localhost/login">
        <p><input type="text" name="login" value="" placeholder="Username" required="required" title="username"></p>
        <p><input type="password" name="password" value="" placeholder="Password"  required="required" title="password"></p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
      </form>
      <div class="msg fail">
        <span>User or password were wrong.</span>
      </div>
    </div>
    </center>
  </section>
</body>
</html>